name: Flutter CI

on:
  push:
    branches: [ master, actions]
  pull_request:
    branches: [ master ]

jobs:
  drive:
    name: iOS
    # Creates a build matrix for your jobs. You can define different
    # variations of an environment to run each job in.
    strategy:
      # A set of different configurations of the virtual
      # environment.
      matrix:
        device:
          - "iPhone 11 Pro Max (13.4.1)"
      # When set to true, GitHub cancels all in-progress jobs if any
      # matrix job fails.
      fail-fast: false
    # The type of machine to run the job on.
    runs-on: macOS-latest
    # Contains a sequence of tasks.
    steps:
      # A name for your step to display on GitHub.
      - name: "List all simulators"
        run: "xcrun instruments -s"
      - name: "Start Simulator"
        run: |
          UDID=$(
            xcrun instruments -s |
            awk \
              -F ' *[][]' \
              -v 'device=${{ matrix.device }}' \
              '$1 == device { print $2 }'
          )
          xcrun simctl boot "${UDID:?No Simulator with this name found}"
      - uses: actions/checkout@v1
      # Setup the flutter environment.
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Get dependencies
        run: |
          echo "Getting Dependencies"
          flutter pub get
          brew install tree
          tree
          echo "drive"
          cd ./example && flutter drive --driver=test_driver/tflite_flutter_plugin_example_e2e_test.dart test/tflite_flutter_plugin_example_e2e.dart

  android-integration-test:
    name: Android
    runs-on: macOS-latest
    strategy:
      matrix:
        device:
          - "pixel_xl"
      fail-fast: false

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '8.x'
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: '1.12.13+hotfix.5'
          channel: 'stable'
      - name: run tests
        timeout-minutes: 30
        uses: reactivecircus/android-emulator-runner@v2
        env:
          ANDROID_SIGN_PWD: ${{ secrets.ANDROID_SIGN_PWD }}
          SECRET_REPO: ${{ secrets.SECRET_REPO }}
          GITHUB_TOKEN: ${{ secrets.MY_GITHUB_TOKEN }}
        with:
          api-level: 29
          profile: ${{ matrix.device }}
          script: |
            cd ./example && flutter pub get
            cd ./example && flutter drive --driver=test_driver/tflite_flutter_plugin_example_e2e_test.dart test/tflite_flutter_plugin_example_e2e.dart

